# 1. Create a small data structure that holds details - Name of the team, points they have earned and result of last 5 matches as per image.

In [1]:
import pandas as pd
  
# initialize data of teams.
data = {
   'GT':['GT',20,['W','W','L','L','W']]
    
   ,'LSG':['LSG',18,['W','L','L','W','W']]
    
   ,'RR':['RR',16,['W','L','W','L','L']]
    
    ,'DC':['DC',14,['W','W','L','W','L']]
    
    ,'RCB':['RCB',14,['L','W','W','L','L']]
    
    ,'KKR':['KKR',12,['L','W','W','L','W']]
    
    ,'PBKS':['PBKS',12,['L','W','L','W','L']]
    
    ,'SRH':['SRH',12,['W','L','L','L','L']]
    
    ,'CSK':['CSK',8,['L','L','W','L','W']]
    
    ,'MI':['MI',6,['L','W','L','W','W']]
}

# Create DataFrame
df = pd.DataFrame(data, index = ["Teams", "Pts", "Last 5 Match"]).transpose()
  
# Print the output.
df

     Teams Pts     Last 5 Match
GT      GT  20  [W, W, L, L, W]
LSG    LSG  18  [W, L, L, W, W]
RR      RR  16  [W, L, W, L, L]
DC      DC  14  [W, W, L, W, L]
RCB    RCB  14  [L, W, W, L, L]
KKR    KKR  12  [L, W, W, L, W]
PBKS  PBKS  12  [L, W, L, W, L]
SRH    SRH  12  [W, L, L, L, L]
CSK    CSK   8  [L, L, W, L, W]
MI      MI   6  [L, W, L, W, W]

# 2. Programmatically retrieve the teams that have 2 consecutive losses.

In [2]:
def two_losses(team):
    for result in range(len(team[-1])-1):  
        if team[-1][result]==team[-1][result+1] and team[-1][result]=='L':    
            return team[0]

In [3]:
for team in data.keys():
    get_team=two_losses(data[team])
    if get_team is not None:
        print(get_team)

GT
LSG
RR
RCB
SRH
CSK

# 3. Generalize the same solution, so that we could get teams that have n consecutive losses/wins.

In [4]:
def n_losses_or_wins(team,n):
    for i in range(len(team[-1])-n+1):
        if (team[-1][i:i+n]==['W']*n) or (team[-1][i:i+n]==['L']*n) :
            return team[0]

In [5]:
Y=True
while Y:
    n=int(input('enter the valid  value of consecutive losses or wins: '))
    if n>5:
        continue
    else:
        Y=False

enter the valid  value of consecutive losses or wins: 2

In [6]:
filtered_teams=[]
for team in data.keys():
    x=n_losses_or_wins(data[team],n)
    if x is not None:
        filtered_teams.append(x)
        print(x)    
print(filtered_teams)

GT
LSG
RR
DC
RCB
KKR
SRH
CSK
MI
['GT', 'LSG', 'RR', 'DC', 'RCB', 'KKR', 'SRH', 'CSK', 'MI']

# 4. Once the above is done, Calculate the average points of these filtered teams

In [8]:
sum_of_points=0
for team in filtered_teams:
    sum_of_points+=data[team][1]
average_points=sum_of_points/len(filtered_teams)
print(average_points)

13.333333333333334